---
layout: default
---

<div class="mx-4 lg:m-auto lg:w-2/3 py-4 prose max-w-none">
  <p class="text-2xl">{{ site.description }}</p>

  <h1>About</h1>

  <div class="flex items-center space-x-4 not-prose mb-8">
    <div class="shrink-0">
      <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="/assets/images/avatar.png" alt="ChitChat Logo">
    </div>
    <div>
      <div class="text-xl font-medium text-black">Daichi Hirata</div>
      <p class="text-slate-500">Software Engineer</p>
    </div>
  </div>
</div>

<article class="mx-4 lg:m-auto lg:w-2/3 prose max-w-none content">
  <h1>Posts</h1>
  {% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
  <h2 id="{{currentdate}}">{{ currentdate }}</h2>
  {% assign date = currentdate %}
  {% endif %}
  <div class="py-2">
    <time class="block lg:inline-block lg:w-1/6 tracking-tight text-gray-800 font-extrabold">{{ post.date | date: "%Y-%m-%d" }}</time>
    <a class="text-2xl" href="{{ post.url }}">{{ post.title }}</a>
  </div>
  {% endfor %}
</article>
