<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo title=false %}
  </head>
  <body>
    <header class="mx-4 lg:m-auto lg:w-2/3 py-6 flex items-center justify-between">
      <h1><a href="/" class="text-2xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-purple-500 to-indigo-500">{{ site.title }}</a></h1>
      <nav class="flex item-center">
        <a class="pr-4" href="https://twitter.com/daichirata" target="_blank" rel="noopener noreferrer" title="Twitter">{% include twitter.svg %}</a>
        <a href="https://github.com/daichirata" target="_blank" rel="noopener noreferrer" title="GitHub">{% include github.svg %}</a>
      </nav>
    </header>

    {{ content }}

    <footer class="mx-4 py-8 lg:m-auto lg:w-2/3 prose max-w-none">
      <p class="text-center text-gray-500">© {{ site.time | date: '%Y' }} Daichi Hirata</p>
    </footer>

    {% include ga.html %}
  </body>
</html>
